[submodule "submodules/catppuccin-vim"]
	path = submodules/catppuccin-vim
	url = https://github.com/cephi-sui/catppuccin-vim
[submodule "submodules/catppuccin-alacritty"]
	path = submodules/catppuccin-alacritty
	url = https://github.com/cephi-sui/catppuccin-alacritty
[submodule "submodules/cefield-cursors"]
	path = submodules/cefield-cursors
	url = https://github.com/cephi-sui/cefield-cursors.git
[submodule "submodules/catppuccin-fuzzel"]
	path = submodules/catppuccin-fuzzel
	url = https://github.com/cephi-sui/catppuccin-fuzzel
[submodule "submodules/catppuccin-tmux"]
	path = submodules/catppuccin-tmux
	url = https://github.com/catppuccin/tmux
[submodule "submodules/catppuccin-btop"]
	path = submodules/catppuccin-btop
	url = https://github.com/catppuccin/btop
[submodule "submodules/catppuccin-adwaita"]
	path = submodules/catppuccin-adwaita
	url = git@github.com:cephi-sui/catppuccin-adwaita.git
