// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    warp-mouse-to-focus mode="center-xy"

    focus-follows-mouse max-scroll-amount="100%"

    // Switching to the same workspace will switch to the previous workspace.
    workspace-auto-back-and-forth

    keyboard {
        xkb { }
        // Enable numlock on startup.
        numlock
    }

    touchpad {
        // off

        // Click
        tap                         // tap-to-click
        click-method "clickfinger"  // click anywhere

        // disable-when-typing
        // dwt

        // disable-when-trackpointing
        // dwtp

        // Scroll
        natural-scroll
        scroll-method "two-finger"

        // Pointer Acceleration
        accel-speed 0.0
        accel-profile "adaptive"

    }

    mouse {
        // off

        // Pointer Acceleration (None)
        accel-speed 0.0
        accel-profile "flat"
    }
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
output "Virtual-1" {
    // off

    focus-at-startup

    mode "1920x1080"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
    off

    mode "1920x1080"
    scale 1
    transform "90"
    position x=-1080 y=-360

    // This monitor is in portrait mode, so override layouts to make it useable.
    // Change to the vertical layout option if the option is added:
    // https://github.com/niri-wm/niri/issues/1071
    layout {
        default-column-width { proportion 0.75; }
    }
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 8

    center-focused-column "never"

    default-column-display "normal"

    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // off

        width 4

        active-color "#04a5e5cc"

        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#00000000"
    }

    border {
        off
    }

    shadow {
        off
    }

    insert-hint {
        color "#04a5e5cc"
    }

    struts { }
}

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "fcitx5"
spawn-at-startup "easyeffects --service-mode"

hotkey-overlay {
    skip-at-startup
    //hide-not-bound
}

prefer-no-csd

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // off

    slowdown 1.0

    window-open {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    window-close {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    workspace-switch {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    overview-open-close {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#e64553cc"
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    block-out-from "screen-capture"
}

recent-windows { off; }

binds {
    // ##############
    // ### SYSTEM ###
    // ##############
    Mod+Escape      allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+Q                            { quit; }
    Mod+Shift+P                            { power-off-monitors; }
    Mod+Shift+Slash                        { show-hotkey-overlay; }
    Mod+O           repeat=false           { toggle-overview; }

    // Screenshots
    Mod+Shift+S { screenshot; }
    Mod+Print   { screenshot-window; }
    Print       { screenshot-screen; }

    // Applications
    Mod+Return hotkey-overlay-title="Terminal"     { spawn "alacritty"; }
    Mod+Space  hotkey-overlay-title="App Launcher" {
        spawn-sh "killall fuzzel || fuzzel"
    }
    Mod+E      hotkey-overlay-title="Files"        { spawn "nautilus" "-w"; }
    Mod+Period hotkey-overlay-title="Emoji Picker" {
        spawn-sh "killall fuzzel || BEMOJI_PICKER_CMD='fuzzel -d' bemoji -t -c"
    }
    //Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    //Super+Shift+Q hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"
    }
    XF86AudioMute        allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioMicMute     allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    XF86AudioPlay        allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }
    XF86AudioStop        allow-when-locked=true {
        spawn-sh "playerctl stop"
    }
    XF86AudioPrev        allow-when-locked=true {
        spawn-sh "playerctl previous"
    }
    XF86AudioNext        allow-when-locked=true {
        spawn-sh "playerctl next"
    }

    // Display
    XF86MonBrightnessUp   allow-when-locked=true {
        spawn-sh "brightnessctl --class=backlight set +10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "brightnessctl --class=backlight set 10%-"
    }

    // #######################
    // ### WINDOWS/COLUMNS ###
    // #######################
    // Focus
    Mod+Left  { focus-column-or-monitor-left; }
    Mod+Down  { focus-window-or-monitor-down; }
    Mod+Up    { focus-window-or-monitor-up; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-monitor-down; }
    Mod+K     { focus-window-or-monitor-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Alt+Tab       { focus-window-previous; }

    // Move
    Mod+Ctrl+Left  { consume-or-expel-window-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { consume-or-expel-window-right; }
    Mod+Ctrl+H  { consume-or-expel-window-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L { consume-or-expel-window-right; }

    // Manipulation
    Mod+Q repeat=false { close-window; }
    Mod+R              { switch-preset-column-width; }
    Mod+Shift+R        { switch-preset-window-height; }
    Mod+Z              { maximize-column; } // tmux-based
    Mod+F11            { fullscreen-window; }
    Mod+C              { center-column; }   // MacOS-based

    Mod+F       { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    // Vim-based size adjustments due to Vim-like behavior.
    Mod+Shift+Comma  { set-column-width "-10%"; }
    Mod+Shift+Period { set-column-width "+10%"; }
    Mod+Minus        { set-window-height "-10%"; }
    Mod+Shift+Equal  { set-window-height "+10%"; }

    // ################
    // ### MONITORS ###
    // ################
    // Focus
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    // Move
    Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-window-to-monitor-right; }

    // ##################
    // ### WORKSPACES ###
    // ##################
    // Indices are the relative workspace on the monitor.
    Mod+0 { focus-workspace 1; }
    Mod+1 { focus-workspace 2; }
    Mod+2 { focus-workspace 3; }
    Mod+3 { focus-workspace 4; }
    Mod+4 { focus-workspace 5; }
    Mod+5 { focus-workspace 6; }
    Mod+6 { focus-workspace 7; }
    Mod+7 { focus-workspace 8; }
    Mod+8 { focus-workspace 9; }
    Mod+9 { focus-workspace 10; }
    Mod+Ctrl+0 { move-window-to-workspace 1; }
    Mod+Ctrl+1 { move-window-to-workspace 2; }
    Mod+Ctrl+2 { move-window-to-workspace 3; }
    Mod+Ctrl+3 { move-window-to-workspace 4; }
    Mod+Ctrl+4 { move-window-to-workspace 5; }
    Mod+Ctrl+5 { move-window-to-workspace 6; }
    Mod+Ctrl+6 { move-window-to-workspace 7; }
    Mod+Ctrl+7 { move-window-to-workspace 8; }
    Mod+Ctrl+8 { move-window-to-workspace 9; }
    Mod+Ctrl+9 { move-window-to-workspace 10; }

    Mod+Tab       { focus-workspace-down; }
    Mod+Shift+Tab { focus-workspace-up; }

    // #############
    // ### MOUSE ###
    // #############
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-window-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-window-to-workspace-up; }

    // Touchpad scrolling is inverted due to natural scrolling.
    Mod+TouchpadScrollDown   cooldown-ms=150 { focus-workspace-up; }
    Mod+TouchpadScrollUp     cooldown-ms=150 { focus-workspace-down; }
    Mod+Ctrl+TouchpadScrollDown cooldown-ms=150 { move-window-to-workspace-up; }
    Mod+Ctrl+TouchpadScrollUp   cooldown-ms=150 { move-window-to-workspace-down; }

    Mod+WheelScrollRight      cooldown-ms=150 { focus-column-right-or-first; }
    Mod+WheelScrollLeft       cooldown-ms=150 { focus-column-left-or-last; }
    Mod+Ctrl+WheelScrollRight cooldown-ms=150 { consume-or-expel-window-right; }
    Mod+Ctrl+WheelScrollLeft  cooldown-ms=150 { consume-or-expel-window-left; }
    Mod+Shift+WheelScrollDown      cooldown-ms=50 { focus-column-right-or-first; }
    Mod+Shift+WheelScrollUp        cooldown-ms=50 { focus-column-left-or-last; }
    Mod+Shift+Ctrl+WheelScrollDown cooldown-ms=150 { consume-or-expel-window-right; }
    Mod+Shift+Ctrl+WheelScrollUp   cooldown-ms=150 { consume-or-expel-window-left; }
}
